h1{
    text-align: center;
    color: #006600;
}
h2{
    color: #0000FF;
}
div {
    color: #FF3399;
    background-color: #FECFFD;
    text-align: center;
}
.p2{
    
    text-align: center;
    background-color: #FFFFCC;

}
.kho1{
    color: #0000FF;
    background-color: #FFFFCC;

}
.kho2{
    color:red;
    background-color: #FFFFCC;

}
.kho3{
    color: #006600;
    background-color: #FFFFCC;

}