h2{
    text-align: center;
    color: orangered;
    border: orangered double;
}
div{
    text-align: right;
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
font{
    color: brown;
    font-weight: bold;
}
i{
    background-color: yellow;
}
.f1{
    font-size: 50px;
}
.p1{
    text-align: right;
}